<!DOCTYPE html>
<html>
  <head>
    <title>ElbowArchive</title>
    <meta property="og:image" content="https://user-images.githubusercontent.com/38144750/91521524-d5b79100-e8c5-11ea-9547-a7935c41ffd8.png"/>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
